@charset "UTF-8";

/* common */
.title_txt {
    font-size: 7.5675vw;
}
.content_txt  {
    font-size: 3.5vw;
}
/* common */
.container {
    padding: 0 10.1333%;
}
/* loader */
.loading_Box {
    width: 24.4rem;
    height: 4.8rem;
}
/* header */
#header  {
    padding: 1rem 10.1333%;
}
#header  .logo a {
    width: 6.78rem;
    height: 2.6rem;
}
#header  .burger {
    width: 2.6rem;
    height: 2.6rem;
}
.nav .nav_visual .inner {
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 14rem;
}
.nav .nav_visual .nav_listWrap  {
    margin-top: 10rem;
}
.nav .nav_visual .nav_listWrap .nav_list {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.nav .nav_visual .nav_info > p {
    
    font-size: 1.5rem;
}
.nav .nav_visual .nav_info {
    align-self: flex-start;
}
.nav_copy {
    font-size: 1rem;
}
.scene > *{
    display: none;
}
.section {
    padding: 0 10.1333%;
    background: url("../img/main/bg/bg_m_1.svg") no-repeat center / contain;
}
#main .m_visual{
    padding-left: 12.567%;
}
.m_content .slogan {
    font-size: 9vw;
    text-align: left;
}
.m_content .slogan .outline {
    display: block;
}
.touchBox {
    align-self: flex-start;
}
.touchBox .touchBtn  {
    width: 35vw;
    padding: 1.2rem 0;
    font-size: 3.5vw;
}
.m_fix {
    bottom: 4rem;
}
.m_fix .mf_item1 p {
    font-size: 1.3rem;
}
.m_fix .arrowBox .arrow {
    width: 2rem;
    height: 5rem;
}
.m_fix .mf_item3 {
    font-size: 4.6vw;
}
.m_fix .mf_item3 .pageNum {
    font-size: 1.7rem;
}
/* main2 */
.m2_visual {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column-reverse !important;
    gap: 6.3rem;
}
.con_img .con_imgArea {
    width: 91.081vw;
}
.con_img .con_imgArea img{
    height: 32rem;
}
.info_title::before {
    top: -1rem;
    width: 0.56rem;
    height: 1rem;
}
.info_title .title_txt .outline {
    display: inline-block;
}
/* main3 */
#main3 {
    background-image: url("../img/main/bg/m3_m_bg.png");
}
.busi_linker {
    width: 11rem;
    height: 11rem;
    font-size: 1.3rem;
    line-height: 11rem;
}
/* footer */
footer {
    font-size: 1.1rem;
    height: 18rem;
    padding: 2rem 0;
}
footer .f_t .f_com_info {
    gap: 1rem;
    margin-bottom: 0rem;
}
footer .f_t .f_com_info li:nth-child(1) {
    width: 100%;
}    
/* top */
.topBox {
    width: 3.2rem;
    height: 3.2rem;
    background: transparent;
}
.topBox .top::before {
    width: 1.6rem;
    height: 1.9rem;
}
/* tel Area */
.tel-area {
    position: fixed;
    right: 10.1333%;
    bottom: 15%;
    display: block;
    width: 4.6rem;
    height: 4.6em;
    border-radius: 50%;
    background: white;
    box-shadow: 4px 5px 20px rgba(129, 129, 129, 0.603);
}
.tel-area .telBtn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tel-area .icon {
    position: relative;
    width: 2.6rem;
    height: 2.6rem;
}
.tel-area .icon:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: url("../img/main/icon/tel_icon.svg") no-repeat center / cover;
}
.tel-area .telTxt {
    position: absolute;
    width: 1px;
    opacity: 0;
}
.f_b{
    margin-top: 3rem;
}