@charset "UTF-8";

/* common */
.container {
    padding: 0 10.1333%;
 }
 .sub_title {
    font-size: 2rem;
}
.sub_txt {
    font-size: 1.5rem;
}
  /* header */
#header  {
    top: 6.4rem;
    padding: 1rem 10.1333%;
}
#header  .logo a {
    width: 6.78rem;
    height: 2.6rem;
}
#header  .burger {
    width: 2.6rem;
    height: 2.6rem;
}
.nav .nav_visual .inner {
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 14rem;
}
.nav .nav_visual .nav_listWrap  {
    margin-top: 10rem;
}
.nav .nav_visual .nav_listWrap .nav_list {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.nav .nav_visual .nav_info > p {
    
    font-size: 1.5rem;
}
.nav .nav_visual .nav_info {
    align-self: flex-start;
}
.nav_copy {
    font-size: 1rem;
}
/* main */
.section {
    padding: 6.4rem 0;
    background: url("../../../img/main/bg/bg_m_1.svg") no-repeat center / contain;
}
.sec_head {
    font-size: 1.5rem;
    margin-bottom: 9rem;
}
.sec_title {
    font-size: 6.5vw;
    margin-bottom: 1.5rem;
}

.sec_txt {
    padding-left: 0;
    font-size: 3vw;
    line-height: 2;
}
.bgitem::before {
    width: 11.6rem;
    height: 8rem;
    top: -5%;
    right: -20%;
}
.busi_img {
    margin-top: 6rem;
}
.busi_img .img {
    width: 91.081vw;
    height: 15.6rem;
}
.todo .todo_box ul li.todo_item {
    padding: 2.7rem 0;
}
.todo_img .img {
    width: 52.1621vw;
    height: 10.3rem;
}
/* .process */
.process {
    height: 43.5rem;
    margin-top: 11.4rem;
    padding-top: 11.4rem;
}
.process::after {
    width: 72.4324vw;
    height: 15.2rem;
    top: -14%;
}
.process::before {
    width: 72.4324vw;
    height: 15.2rem;
    top: -14%;
}
.prc_content .item1 {
    margin: 1.5rem 0 4rem;
}
/* project */
.project {
    height: auto;
}
.swiper-slide {
    width: 82.7027vw;
    padding-left: -10%;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: 28%;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 10.1333%;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: url(../../../img/sub/business/icon/prj_arrowRight_b.svg);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: url(../../../img/sub/business/icon/prj_arrowLeft_b.svg);
}
/* banner */
.banner {
    margin-top: 4rem;
    height: auto;
}
.svg_txt {
    height: 9.1rem;
}
.banner strong {
    font-size: 1.6rem;
}
.touch_linker {
    font-size: 1.5rem;
}
.banner .touch_linker {
    font-size: 1.5rem;
}
/* footer */
footer {
    font-size: 1.1rem;
    height: 18rem;
    padding: 4rem 0;
}
footer .f_t .f_com_info {
    gap: 2rem;
    margin-bottom: 3rem;
}
footer .f_t .f_com_info li:nth-child(1) {
    width: 100%;
}    
/* top */
.topBox {
    width: 3.2rem;
    height: 3.2rem;
    background: transparent;
}
.topBox .top::before {
    width: 1.6rem;
    height: 1.9rem;
}